
<div class = "page">

  <div>
    <div class="search">
      <input class="bar" type="text"  [(ngModel)]=query (keyup)=search() placeholder="Search for a stock.">
    </div>
    <table class="trades-container">
      <tr class=trade *ngFor="let trade of trades">
        <td class="trade-element stock-id">
          {{ trade.stockID }}
        </td>
        <td class="trade-element company-name">
          {{ trade.companyName }}
        </td>
        <td class="trade-element currency">
          {{ trade.price.currency }}
        </td>
        <td class="trade-element value">
          {{ trade.price.value }}
        </td>
        <td class="trade-element stock-owner">
          {{ trade.owner }}
        </td>
      <tr>
      <tr class="trade" *ngIf="trades.length == 0 && !searching">
        <td class="trade-element">
          No Trades on the block.
        </td>
      </tr>         
    </table>
  </div>

  <div class="chart">
    <svg #chart></svg>
  </div>

  
</div>
