.trade-inspection {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    padding: 10px;
    height: 25px;
    margin-bottom: 15px;
    width: 100%;
    .trade-label {
        float: left;
    }
    .trade-value {
        float: right;
    }
}

.stock-inspection-title {}

.autocomplete {
    position: absolute;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    border-collapse: collapse;
    border-top: solid 1px #eee;
    table {
        tr {
            border-bottom: solid 1px #eee;
            &:hover {
                background: #eee;
            }
        }
    }
}

input.submit {
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: 2px solid #222255;
    background: #fff;
    color: #eee;
    background: #222255;
    transition: 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    font-size: 1em;
    text-align: center;
    &:hover {
        outline: none;
        border: 2px solid #333355;
        background: #333355;
        transition: 0.2s;
    }
    &:active {
        outline: none;
        border: 2px solid #222277;
        background: #222277;
        transition: 0.2s;
    }
}

input {
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 95%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #222277;
    background: #fff;
    color: #222222;
    transition: 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    &:focus {
        outline: none;
        border-bottom: 2px solid #444477;
        transition: 0.2s;
    }
    .icon .bar {
        float: left;
    }
}

div.component {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
    margin: 10px;
    background: #fff;
    max-width: 600px;
    max-height: 600px;
    min-height: 600px;
    min-width: 600px;
    padding: 5px;
}

div.clear-component {
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);            
    margin: 10px;
    max-width: 600px;
    max-height: 600px;
    min-width: 600px;
    padding: 5px;
}

div.stock-data {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    vertical-align: text-top;
    padding: 15px;
}

div.stock-title {
    padding: 10px 0px 0px 10px;
}

.page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-headers {
    height: 5%;
    width: 100%;
}

.trades-component {
    height: 85%;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #222;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #666;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    }
}

.trades-container {
    width: 100%;
    border-collapse: collapse;
    border-top: solid 1px #eee;
    tr {
        border-bottom: solid 1px #eee;
    }
}

.search {
    width: 100%;
    height: 10%;
}

.trade {
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
    background: #fff;
    vertical-align: middle;
    height: 30px;
    &:hover {
        background: #eee;
        transition: background-color 0.2s ease;
    }
}

td {
    font-family: 'Roboto', 'sans-serif';
    .company-name {
        width: 20%;
    }
    .stock-id {
        width: 10%;
    }
    .currency {
        width: 10%;
    }
    .value {
        width: 20%;
    }
    .stock-owner {
        width: 20%;
    }
    .available-shares {
        width: 20%;
    }
    .price {
        width: 20%
    }
}