
<div class = "page">

  <div class="component">
    <div class="search">
      <input class="bar" type="text"  [(ngModel)]=query (keyup)=search() placeholder="Search for a stock.">
    </div>
    <div class="col-headers">
      <table class="trades-container">
      <tr>
        <td class="stock-id">
          ID
        </td>
        <td class="company-name">
          Company
        </td>
        <td class="price">
          Price
        </td>
        <td class="available-shares">
          Avail              
        </td>
        <td class="stock-owner">
          Owner
        </td>
      </tr>
      </table>
    </div>
    <div class="trades-component">
    <table class="trades-container">
      <tr class=trade *ngFor="let trade of trades">
        <td class="trade-element stock-id">
          {{ trade.stockID }}
        </td>
        <td class="trade-element company-name">
          {{ trade.companyName }}
        </td>
        <td class="trade-element currency">
          {{ trade.price.currency }}
        </td>
        <td class="trade-element value">
          {{ trade.price.value }}
        </td>
        <td class="trade-element available-shares">
          {{ trade.availableShares }}
        </td>
        <td class="trade-element stock-owner">
          {{ trade.owner }}
        </td>
      <tr>
      <tr class="trade" *ngIf="trades.length == 0 && !searching">
        <td class="trade-element">
          No Trades on the block.
        </td>
      </tr>         
    </table>
    </div>
  </div>
  <div class="component">
    <div class="chart">
      <svg #chart></svg>
    </div>
  </div>

  
</div>
