input {
    margin-top: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #227722;
    background: #222;
    color: #ddd;
    transition: 0.2s;
    &:focus {
        outline: none;
        border-bottom: 2px solid #398d39;
        transition: 0.2s;
    }
    .icon .bar {
        float: left;
    }
}