<div>
    <div class="title">
        Sell Stock
    </div>
    <input class="search" type="text" [(ngModel)]="stockID" placeholder="Enter Stock ID">
    <input class="search" type="text" [(ngModel)]="stockCurrency" placeholder="Enter a Currency">
    <input class="search" type="number" [(ngModel)]="stockPrice" placeholder="Enter a price" step="0.01" min="0">
    <input class="search" type="number" [(ngModel)]="stockCount" placeholder="Enter Amount to Sell" step="1" min="0">
    <input class="submit" value="Sell" (click)=sellStock() readonly="readonly">
</div>